@page
@model controleDePontoV1.Pages.MenuModel
@{
}
<div class="text-center" style="top: 50%">
    <h1 class="display-4">Welcome</h1>
    <div">
        <button onclick="pontoLogon()"> Colaboradores </button>
        <br />
        <button onclick="pontoLogon()"> Equipes </button>
        <br />
        <button onclick="pontoLogon()"> Projetos </button>
        <br />
        <button onclick="pontoLogon()"> Controle de apontamento </button>
    </div>
</div>


