@page
@model controleDePontoV1.Pages.Menu.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center" style="top: 50%">
    <h1 class="display-4">Proccess Menu</h1>
    <div>
        <BR />
        <BR />
        <form method="post">
            <input name="newPage" type="submit" class="btn btn-primary" id="colabIndex" value="Colaboradores" />
            <BR />
            <BR />
            <input name="newPage" type="submit" class="btn btn-primary" id="equipeIndex" value="Equipes" />
            <BR />
            <BR />
            <input name="newPage" type="submit" class="btn btn-primary" id="projeIndex" value="Projetos" />
            <BR />
            <BR />
            <input name="newPage" type="submit" class="btn btn-primary" id="papeisIndex" value="Papeis" />
            <BR />
            <BR />
            <input name="newPage" type="submit" class="btn btn-primary" id="aponIndex" value="Apontamentos" />
            <BR />
            <BR />
            <input name="newPage" type="submit" class="btn btn-primary" id="ctrlIndex" value="Relatorio de Apontamentos" />
        </form>
    </div>
</div>
